@use './typography' as *;

// Colors
$primary: #323232;
$text-label: #afafaf;
$BG-fill: #fafafa;
$break-color: #e1e1e1;
$primary-cta-text: #0095ff;
$primary-cta-hover: #0065ad;

// Font-size

// Mobile
$H1M-text: 1.5rem;
$H1M-line-height: 2rem;

$H2M-text: 0.875rem;
$H2M-line-height: 1.375rem;

$H4M-text: 0.8125rem;
$H4M-line-height: 1.125rem;

$H4M-text-2: 0.8125rem;
$H4M-line-height-2: 1.25rem;

$H5M-text: 0.75rem;
$H5M-line-height: 1.25rem;

// Desktop + Tablet
$H1D-text: 3.75rem;
$H1D-line-height: 4.25rem;

$H1D-text-2: 2.25rem;
$H1D-line-height-2: 2.75rem;

$H2D-text: 1.5rem;
$H2D-line-height: 2rem;

$H3D-text: 1rem;
$H3D-line-height: 1.5rem;

$H4D-text: 0.875rem;
$H4D-line-height: 1.375rem;

$H4D-text-2: 0.875rem;
$H4D-line-height-2: 1.25rem;

$H5D-text: 0.75rem;
$H5D-line-height: 1.25rem;

// Typography

$font-regular: "AvenirNextLTPro-Regular";
$font-demi: "AvenirNextLTPro-Demi";
$font-bold: "AvenirNextLTPro-Bold";

// Breakpoints

$tablet: 768px;
$desktop: 1280px;

// Gallery @ Tablet

$images-margin: 2rem;
$images-margin-tablet: 1.5rem;
$gallery-padding: 1rem;

// Gallery @ Dekstop
