@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.video__main {
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include desktop {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    display: flex;
    justify-content: center;
  }
}
