@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.button {
  background-color: $primary-cta-text;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  height: 3rem;
  font-family: $font-regular;
  @include H4M;
  width: calc(100% - 64px);
  outline: none;

  @include tablet {
    width: 16vw;
  }

  @include desktop {
    width: 9.5vw;
    max-width: 121.594px;
  }

  &:before {
    content: url(../../assets/Icons/SVG/Icon-upload.svg);
    margin-right: 0.5rem;
    height: 16px;
  }

  &:hover {
    background-color: $primary-cta-hover;
  }
}
