@use '../../partials/mixins' as *;

.header {
  height: 10.5625rem;
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 5rem;
  }
}
